<div class="container">

  <h1>Services Index</h1>

  <% @services.each do |service| %>
    <p>Craft: <%= service.craft %></p>
    <p>Description: <%= service.description %></p>
    <p>Price: <%= service.price %></p>
    <p>Address: <%= service.address %></p>
    <%= link_to "Show", service_path(service) %>
  <%end%>



</div>
