<div class="main-container">




  <div id="junk-market-title">
    <div class="full-title-junk">
      <%= render "shared/title-craftpeople" %>
    </div>
  </div>

<div class="service-show-container">

  <div class="photo-craft">
    <div id="photo">
    <h1>photo</h1>
    </div>

    <div id="title-craft">
    <h2><%= @service.title %></h2>
    <p><%= @service.craft %></p>
    </div>
  </div>

<div class="middle-part">
      <div class="service-show-content">

        <div class="address-price">
          <div id="address">
            <div>
            <p>City</p>
              <p class="service-show-border"><%= @service.address.split(", ")[1].split[1] %></p>
            </div>

            <div>
            <p>Postal code</p>
              <p class="service-show-border"><%= @service.address.split(", ")[1].split[0] %></p>
            </div>
          </div>

          <div>
          <p>Price</p>
          <p class="service-show-border"><%= @service.price %> €/hr</p>
          </div>
        </div>

        <div>
        <p>Description</p>
          <div id="description-scrollable">
          <p><%= @service.description %></p>
          </div>
        </div>

        <div>
        <p>Specialities</p>
          <div id="specialities">
            <p> <%  @service.speciality_list.each do |speciality| %>
            <p><%= speciality %></p>
            <% end %></p>
          </div>
        </div>
      </div>

    <div class="right-container">
      <div class="grit">
        <div class="small-image-container">

    <% @service.photos.first(6).each do |photo| %>
      <%= cl_image_tag(photo.key, class: 'small-image') %>
    <% end %>

  </div>
      </div>

      <div class="contact">
        <%= link_to "Contact craftperson", service_path, class: "primary-button-1" %>
      </div>
    </div>
</div>

  <div class="map">
    <%= render "shared/map"%>
  </div>




</div>

</div>

<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
