<div class="main-container">
  <h1>Craftspeople</h1>



    <div>
      <%= render "shared/service-card", service: @service %>
    </div>

      <div>
        <div>
          <p>Address</p>
          <p class="service-show-border"><%= @service.address %></p>
        </div>
        <div>
          <p><%= @service.price %> €/hr</p>
        </div>
        <div>
          <p>Craft</p>
          <p><%= @service.craft %></p>
        </div>
      </div>

      <div>
        <div>
          <p>Description</p>
          <p><%= @service.description %></p>
        </div>
        <div>
          <p>Specialities: <%= %></p>
        </div>
      </div>

    <% @service.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <div class="map">
    <%= render "shared/map"%>
  </div>
</div>
