<div class="main-container">
  <h1>Craftspeople</h1>

  <div class="service-show-center">
    <%= render "shared/service-card", service: @service %>
  </div>

    <div class="service-show-content">
      <div>
        <p>Address</p>
        <p class="service-show-border"><%= @service.address %></p>
      </div>
      <div>
        <p class="service-show-border"><%= @service.price %> €/hr</p>
      </div>
      <div>
        <p>Craft</p>
        <p class="service-show-border"><%= @service.craft %></p>
      </div>
    </div>

    <div class="service-show-content">
      <div>
        <p>Description</p>
        <p class="service-show-description"><%= @service.description %></p>
      </div>
      <div>
        <p>Specialities</p>
        <p class="service-show-specialities"> <%= %></p>
      </div>
    </div>



  <% @service.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>

  <div class="map">
    <%= render "shared/map"%>
  </div>
</div>
