<div class="main-container">
  <div class="title">
    <div class="full-title-craft">
      <%= render "shared/title-craftpeople" %>
    </div>
  </div>

  <div class="service-show-center">
    <% profile=false %>
    <%= render "shared/service-card", service: @service, profile: profile %>
  </div>

    <div class="service-show-content">
      <div>
        <p>Address</p>
        <p class="service-show-border"><%= @service.address %></p>
      </div>
      <div>
        <p class="service-show-border"><%= @service.price %> €/hr</p>
      </div>
      <div>
        <p>Craft</p>
        <p class="service-show-border"><%= @service.craft %></p>
      </div>
    </div>

    <div class="service-show-content">
      <div>
        <p>Description</p>
        <p class="service-show-description"><%= @service.description %></p>
      </div>
      <div>
        <p>Specialities</p>
        <p class="service-show-specialities"> <%= %></p>
      </div>
    </div>



  <% @service.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>

  <div class="map">
    <%= render "shared/map"%>
  </div>
</div>


<%  @service.speciality_list.each do |speciality| %>
  <p>specities: <%= speciality %></p>
<% end %>

<%= link_to "chat", chatroom_path(1)%>
