<div class="container">

<h1>Junks index</h1>

  <% @junks.each do |junk| %>
    <p>Title: <%= junk.title %></p>
    <p>Description: <%= junk.description %></p>
    <p>category: <%= junk.category %></p>
    <p>Price: <%= junk.price %></p>
    <p>Address: <%= junk.address %></p>
  <% end %>
</div>
