<div class="main-container">

  <div class="profile-header">
    <div class="user-title">
      <% if service.user.photo.attached? %>
        <%= cl_image_tag service.user.photo.key, crop: :fill, class: "avatar-large service-card-img", alt: "avatar image of user" %>
      <% else %>
        <%= image_tag("https://res.cloudinary.com/dvveiqb1p/image/upload/v1666893626/7eu35j8bhnwbbsf0cm2tj5m6de2m.jpg", class: "avatar-large service-card-img") %>
      <% end %>
      <div class="username">
        <%= @user.username %>
      </div>
    </div>
    <div class="links">
      <%= link_to "Messages", "#" %>
      <%= link_to "Settings", "#" %>
    </div>
  </div>

  <div class="service-box">
    <div class="service-title">
    </div>
    <%# if service listed by user  %>
    <%#= render "shared/service-card" %>
  </div>

  <div class="junk-box">
    <div class="junk-title">
    </div>
    <div class="junk-list">
      <%# if junk listed by user  %>
      <%#= render "shared/junk-card" %>
    </div>
  </div>

</div>
