<div class="main-container">

  <div class="profile-header">
    <div class="user-title">
      <%# if user.photo.attached? %>
        <%#= cl_image_tag service.user.photo.key, crop: :fill, class: "avatar-large service-card-img", alt: "avatar image of user" %>
      <%# else %>
        <%= image_tag("https://res.cloudinary.com/dvveiqb1p/image/upload/v1666893626/7eu35j8bhnwbbsf0cm2tj5m6de2m.jpg", class: "avatar-large service-card-img") %>
      <%# end %>
      <div class="username">
        <%= @user.username.upcase %>
      </div>
    </div>
    <div class="links">
      <%= link_to "Messages", "#" %>
      <%= link_to "Settings", "#" %>
    </div>
  </div>

  <div class="user-info">
    <div class="user-bio">
      <%# <div class="img-upload">
        <div class="field"> %>
          <%# if @user.photo.attached? %>
            <%#= image_tag @user.avatar %>
          <%# end %>
        <%# </div>
        <div class="field">
          Upload a Profile Picture %>
          <%#= f.label "Profile Picture"  %>
          <%#= f.file_field :avatar %>
        <%# </div>
      </div> %>
      <div class="address"></div>
      <div class="bio"></div>
    </div>
    <div class="user-craft">
      <div class="craft"></div>
      <div class="specialty"></div>
    </div>
  </div>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed title-accordeon" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Your trade services
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul class="slide service-list list-unstyled">
            <% @services.each do |service| %>
            <%= render "shared/service-card", service: service, profile: current_user == @user %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed title-accordeon" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Your listed items
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul class="slide2 junk-list list-unstyled">
            <% @junks.each do |junk| %>
            <%= render "shared/junk-card", junk: junk, profile: current_user == @user, junks: @junks %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
