<div class="slide hi-slide">
  <div class="hi-prev"></div>
  <div class="hi-next"></div>

  <ul>
    <li>
      <%= image_tag("icons/rock.png", class: 'icon', alt: 'icon craft ') %>
    </li>
    <li>
      <%= image_tag("icons/ceramic.png", class: 'icon', alt: 'icon craft ') %>
    </li>
    <li>
      <%= image_tag("icons/flower.png", class: 'icon', alt: 'icon craft ') %>
    </li>
    <li>
      <%= image_tag("icons/house.png", class: 'icon', alt: 'icon craft ') %>
    </li>
    <li>
      <%= image_tag("icons/leather.png", class: 'icon', alt: 'icon craft ') %>
    </li>
    <li>
      <%= image_tag("icons/metal.png", class: 'icon', alt: 'icon craft ') %>
    </li>
    <li>
      <%= image_tag("icons/paper.png", class: 'icon', alt: 'icon craft ') %>
    </li>
    <li>
      <%= image_tag("icons/textile.png", class: 'icon', alt: 'icon craft ') %>
    </li>
    <li>
      <%= image_tag("icons/wood.png", class: 'icon', alt: 'icon craft ') %>
    </li>
  </ul>
</div>
