<div id="carouselExampleCaptions" class="carousel-size carousel slide"
  data-bs-ride="false" data-controller="search-form">


<%# crafts: "CERAMICS AND GLASS", "FIBRE AND TEXTILE", "FLOWER AND GARDEN", "LEATHERWORK", "HOUSEWARE", "PAPER", "WOOD AND FURNITURE", "STONE", "METAL" %>

  <div class="carousel-inner">
    <div class="carousel-indicators" data-search-form-target="craft">
      <button type="button" data-action="click->search-form#update-with-img" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-action="click->search-form#update-with-img" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-action="click->search-form#update-with-img" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-action="click->search-form#update-with-img" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-action="click->search-form#update-with-img" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-action="click->search-form#update-with-img" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-action="click->search-form#update-with-img" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-action="click->search-form#update-with-img" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-action="click->search-form#update-with-img" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
    </div>
    <div class="items">
      <div class="carousel-item override-item home-img-size active">
        <%= image_tag("icons/ceramic.png", class: 'icon', alt: 'icon craft ceramics') %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-nowrap">CERAMICS <br>AND GLASS</h5>
        </div>
      </div>
      <div class="carousel-item override-item home-img-size">
        <%= image_tag("icons/flower.png", class: 'icon', alt: 'icon craft garden') %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-nowrap">FLOWER <br>AND GARDEN</h5>
        </div>
      </div>
      <div class="carousel-item override-item home-img-size">
        <%= image_tag("icons/house.png", class: 'icon', alt: 'icon craft houseware') %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-nowrap">HOUSEWARE</h5>
        </div>
      </div>
      <div class="carousel-item override-item home-img-size">
        <%= image_tag("icons/leather.png", class: 'icon', alt: 'icon craft leatherwork') %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-nowrap">LEATHERWORK</h5>
        </div>
      </div>
      <div class="carousel-item override-item home-img-size">
        <%= image_tag("icons/wood.png", class: 'icon', alt: 'icon craft wood and furniture') %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-nowrap">WOOD AND <br>FURNITURE</h5>
        </div>
      </div>
      <div class="carousel-item override-item home-img-size">
        <%= image_tag("icons/metal.png", class: 'icon', alt: 'icon craft metal') %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-nowrap">METAL</h5>
        </div>
      </div>
      <div class="carousel-item override-item home-img-size">
        <%= image_tag("icons/rock.png", class: 'icon', alt: 'icon craft stone') %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-nowrap">STONE</h5>
        </div>
      </div>
      <div class="carousel-item override-item home-img-size">
        <%= image_tag("icons/paper.png", class: 'icon', alt: 'icon craft paper') %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-nowrap">PAPER</h5>
        </div>
      </div>
      <div class="carousel-item override-item home-img-size">
        <%= image_tag("icons/textile.png", class: 'icon', alt: 'icon craft textile') %>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-nowrap">FIBRE AND <br>TEXTILE</h5>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
