<div class="slide-container">
  <span class="slider-span" id="slider-span1"></span>
  <span class="slider-span" id="slider-span2"></span>
  <span class="slider-span" id="slider-span3"></span>
  <span class="slider-span" id="slider-span4"></span>
  <span class="slider-span" id="slider-span5"></span>
  <span class="slider-span" id="slider-span6"></span>
  <span class="slider-span" id="slider-span7"></span>
  <span class="slider-span" id="slider-span8"></span>
  <span class="slider-span" id="slider-span9"></span>

  <div class="image-slider">
    <div class="slide-div" id="slide-1">
      <%= image_tag "icons/ceramic.png", class: 'img', id: 'img' %>
      <a href="#slider-span1" class="button" id="button-1"></a>
    </div>
    <div class="slide-div" id="slide-2">
      <%= image_tag "icons/flower.png", class: 'img', id: 'img' %>
      <a href="#slider-span2" class="button" id="button-2"></a>
    </div>
    <div class="slide-div" id="slide-3">
      <%= image_tag "icons/house.png", class: 'img', id: 'img' %>
      <a href="#slider-span3" class="button" id="button-3"></a>
    </div>
    <div class="slide-div" id="slide-4">
      <%= image_tag "icons/leather.png", class: 'img', id: 'img' %>
      <a href="#slider-span4" class="button" id="button-4"></a>
    </div>
    <div class="slide-div" id="slide-5">
      <%= image_tag "icons/metal.png", class: 'img', id: 'img' %>
      <a href="#slider-span5" class="button" id="button-5"></a>
    </div>
    <div class="slide-div" id="slide-6">
      <%= image_tag "icons/paper.png", class: 'img', id: 'img' %>
      <a href="#slider-span6" class="button" id="button-6"></a>
    </div>
    <div class="slide-div" id="slide-7">
      <%= image_tag "icons/rock.png", class: 'img', id: 'img' %>
      <a href="#slider-span7" class="button" id="button-7"></a>
    </div>
    <div class="slide-div" id="slide-8">
      <%= image_tag "icons/textile.png", class: 'img', id: 'img' %>
      <a href="#slider-span8" class="button" id="button-8"></a>
    </div>
    <div class="slide-div" id="slide-9">
      <%= image_tag "icons/wood.png", class: 'img', id: 'img' %>
      <a href="#slider-span9" class="button" id="button-9"></a>
    </div>
  </div>
</div>
