<div class="navbar-custom navbar-custom-color fixed-top"
  data-controller= "<%= "navbar" if current_page? root_path %>"
   data-action="scroll@window->navbar#updateNavbar">

  <div>
    <%= link_to image_tag("https://res.cloudinary.com/dfkgih0bp/image/upload/v1669318151/development/ValueJunk/internal%20img%20%28website%20itself%29/images/logo_lfxkjk.png", class: "navbar-logo"), root_path  %>
  </div>

  <div class="navbar-text">
    <%= link_to "Junk Market", junks_path, id: 'nav-market' %>
    <%= link_to "Craftpeople", services_path, id: "nav-craft" %>
    <%= link_to "Projects", projects_path, id: "nav-projects" %>
  </div>

  <div class="navbar-icon">
    <%= link_to "+ place an ad", new_service_path, class: "primary-button-2 text-nowrap" %>

    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <%= image_tag "icons/user", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <%= link_to "My profile", current_user, class: "dropdown-item" %>
              <%=
                link_to (@chatroom === nil ? "#" : chatroom_path(@chatroom)),
                class: "dropdown-item #{@messages != nil ? "msg_alert" : ""}" do 
              %>
                  <span>Messages</span>
              <% end %>
              <%= link_to "Settings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
