<div class="navbar-custom">
  <div>
    <%= cl_image_tag("https://res.cloudinary.com/dfkgih0bp/image/upload/v1669237805/development/ValueJunk/internal%20img%20%28website%20itself%29/images/logo_ntytza.svg", class: "navbar-logo") %>
  </div>
  <div class="navbar-text">
    <%= link_to "Junk Market", junks_path %>
    <%= link_to "Craftpeople", services_path %>
    <%= link_to "Projects" %>
  </div>
  <div class="navbar-icon">
    <%= link_to "+ place an ad", new_junk_path, class: "primary-button-2" %>
    <i class="fa-solid fa-user fa-2xl"></i>
  </div>
</div>
