

  <div class="service-card service-card-col4 service-card-font">
    <%# <div> </div> %>

    <div class="service-content-left">
      <p class="service-card-name"><%= service.user[:username] %></p>
      <p class="service-card-craft"><%= service.craft %></p>
    </div>

    <div>
      <p class=""><%= service.address.split(",")[1] %></p>
      <%if service.volunteer%>
        <p class="">Volunteer</p>
      <%else%>
        <p class=""><%= service.price %> €/hr</p>
      <%end%>
    </div>

    <div>
      <i>"<%= service.description %>"</i>
    </div>

    <div>
      <i>Specialities:<%= %></i>
    </div>


    <% if service.user.photo.attached? %>
      <%= cl_image_tag service.user.photo.key, crop: :fill, class: "avatar-large service-card-img", alt: "image cover for bar" %>
    <% else %>
      <%= image_tag("https://res.cloudinary.com/dvveiqb1p/image/upload/v1666893626/7eu35j8bhnwbbsf0cm2tj5m6de2m.jpg", class: "avatar-large service-card-img") %>
    <% end %>
  </div>
