<div class="banner">
  <%= image_tag("https://res.cloudinary.com/dfkgih0bp/image/upload/v1669382762/development/ValueJunk/internal%20img%20%28website%20itself%29/images/banner-full_faklzn.png") %>
  <div class="banner-search">
  </div>
</div>

<<<<<<< HEAD
=======

>>>>>>> master
<div class="container-home">

  <div class="intro">
    <div class="intro-description box">
      <div class="description text-center">
        <p><span id="title">ValueJunk</span> is not just another marketplace.</p>
        <p>We want to make <span id="upcycling">upcycling</span></p>
        <p><span id="fun">fun</span><br><span id="trendy">trendy</span><br><span id="collaborative">collaborative</span></p>
      </div>
    </div>
    <div class="intro-form box">
    </div>
    </div>
    <div class="intro-rings">
  </div>


  <div class="junk-home-box">
    <div class="full-title">
      <%= render "shared/title-market" %>
      <p>Buy, sell, exchange, donate. Simple as that!</p>
    </div>

    <div class="junk-home-cards">
      <div class="junk-card">
        <%= image_tag("https://res.cloudinary.com/dfkgih0bp/image/upload/v1668940532/development/ValueJunk/internal%20img%20%28website%20itself%29/images/wooden-rocking-chair_hmbsz3.jpg", crop: :fill, class: 'd-block', alt: 'image cover for junk') %>

        <div class="junk-card-ad">
          <p>DONATION</p>
        </div>

        <div class="junk-card-content">
          <h2>Wooden rocking chair with wicker back</h2>
          <p>25€</p>
          <p class="secondary-button-3">Delivery possible</p>


          <div class="junk-card-bottom">
            <div class="address-date">
              <p>Paris 75005 - today, 08:24</p>
            </div>
            <div class="heart">
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= link_to "Search", junks_path, class: "primary-button-1" %>
  </div>

  <div class="craft-home-box">
    <div class="full-title-craft">
      <div class="craft-title">
        <h2>CRAFTPEOPLE</h2>
        <div class="title-panel"></div>
        <p>Collaborate with your <span>community</span> to give life back to junk</p>
      </div>
    </div>

    <div class="craftpeople-carousel">
    </div>

    <%= link_to "Collaborate", services_path, class: "primary-button-1" %>
  </div>
</div>
