<div class="banner">
  <%= image_tag("banner-and-rings.jpg") %>

  <div class="banner-content">
    <div class="banner-full-title">
      <h1>ValueJunk</h1>
      <p class="text-nowrap">You can’t imagine <span data-controller="typed-js"></span></p>
    </div>
    <div class="banner-search">
    </div>
  </div>
</div>

<div class="container-home">

  <div class="intro">
    <div class="boxes">
      <div class="intro-description box">
        <div class="description text-center">
          <p><span id="title">ValueJunk</span> is not just another marketplace.</p>
          <p>We want to make <span id="upcycling">upcycling</span></p>
          <p><span id="fun">fun</span><br><span id="trendy">trendy</span><br><span id="collaborative">collaborative</span></p>
        </div>
      </div>
      <div class="intro-form box" data-controller="search-form">
        <%= render "shared/search-form" %>
      </div>
    </div>
    <%= image_tag("box-info-rings", class: 'rings') %>
  </div>


  <div class="junk-home-box">
    <div class="full-title-junk">
      <%= render "shared/title-market" %>
      <p>Buy, sell, exchange, donate. Simple as that!</p>
    </div>
    <div class="junk-home-cards">
      <div class="rotate1">
        <div class="junk-card">
          <div class="junk-card-img">
            <div id="carouselExampleControls-1" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag("wooden-rocking-chair.jpg") %>
                </div>
                <div class="carousel-item">
                  <%= image_tag("wooden-rocking-chair2.jpg") %>
                </div>
                <div class="carousel-item">
                  <%= image_tag("wooden-rocking-chair3.jpg") %>
                </div>
              </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-1" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-1" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
          </div>

          <div class="junk-card-content">
            <div class="junk-card-upper">
              <h2>Wooden rocking chair with wicker back</h2>
              <div class="price-delivery">
                <p>25 €</p>
                <p class="secondary-button-3 text-nowrap">Delivery possible</p>
              </div>
            </div>
            <div class="junk-card-bottom sticky-bottom">
                <div class="address-date">
                  <p>Paris 75005 - today, 08:24</p>
                </div>
                <div class="heart">
                  <i class="fa-regular fa-heart fa-lg"></i>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="middle-card">
        <%= image_tag("junks-card-homepage.png") %>
        <div class="junk-card-home">
          <div class="junk-card-home-content">
            <h2 class="text-center">All you can find</h2>
            <p>Few</p>
            <p>Clicks</p>
            <p>Away</p>
            <div class="heart">
              <i class="fa-regular fa-heart fa-2xl"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="rotate2">
        <div class="junk-card">
          <div class="junk-card-img">
            <div id="carouselExampleControls-2" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag("yarn-balls.jpg") %>
                </div>
                <div class="carousel-item">
                  <%= image_tag("yarn-balls2.jpg") %>
                </div>
                <div class="carousel-item">
                  <%= image_tag("yarn-balls3.jpg") %>
                </div>
              </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
              <p class="donation">DONATION</p>
          </div>

          <div class="junk-card-content">
            <div class="junk-card-upper">
              <h2>Wool balls, white and grey</h2>
              <div class="price-delivery">
                <p>0 €</p>
              </div>
            </div>
            <div class="junk-card-bottom sticky-bottom">
                <div class="address-date">
                  <p>London E1 7AY - yesterday, 21:06</p>
                </div>
                <div class="heart">
                  <i class="fa-regular fa-heart fa-lg"></i>
                </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <%= link_to "Search", junks_path, class: "primary-button-3" %>
  </div>

  <div class="craft-home-box">
    <div class="full-title-craft">
      <%= render "shared/title-craftpeople" %>
      <p>Collaborate with your <span id="community">community</span> to give life back to junk</p>
    </div>

    <div class="craftpeople-carousel">
      <%= render "shared/craft_carousel" %>
    </div>

    <%= link_to "Collaborate", services_path, class: "primary-button-3" %>
  </div>

  <div class="projects-home-box">
    <div class="full-title-projects text-center">
      <%= render "shared/title-projects" %>
    </div>
    <div class="projects-home-content">
      <p>There are so many things you can do with junk.</p>
      <p>Many trends use <span id="upcycling">upcycling</span> to give objects a second life.</p>
      <div class="project-home-images">
        <%= image_tag("img-projects-homepage.jpg", id: "hat") %>
        <%= image_tag("words-projects-homepage.png", id: "words") %>
      </div>
      <%= link_to "Create", root_path, class: "primary-button-3" %>
    </div>
  </div>
</div>
