<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Search", root_path, class: "primary-button-1" %>

<%= link_to "+ place an add", root_path, class: "primary-button-2" %>

<%= link_to "Search", root_path, class: "primary-button-3" %>

<%= link_to "Cancel", root_path, class: "secondary-button-1" %>

<%= link_to "Volunteer", root_path, class: "secondary-button-2" %>

<%= link_to "Delivery possible", root_path, class: "secondary-button-3" %>
