<!DOCTYPE html>
<html>
  <head>
    <title>Valuejunk: don't throw them, reuse them !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link rel="stylesheet" href="craft_carousel.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <%# make sure we use this one below!!!! %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%# <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="js/jquery.hislide.js"></script>
    <script>$('.slide').hiSlide()</script> %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
