<!DOCTYPE html>
<html>
  <head>
    <title>Valuejunk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<<<<<<< HEAD
    <%= javascript_include_tag "/assets/javascript/application.js", "data-turbo-track": "reload", defer: true %>

=======
    <%# make sure we use this one below!!!! %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
>>>>>>> 7cc697bde38101243a21ce936b84ce48b24141e8
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
